
//slick styles

#slideCopy {
	color: white;
	font-size: 16px;
	text-align: right;
	width: 100%;
}

.slick-dots {

	margin-left: 0px;
	width: auto;
	float: right;
	bottom: 0px;
	position: relative;

	li {
		margin: 0px 2px;

		&.slick-active {
			button:before {
				color: white;
				font-size: 8px;
			}
		}

		button:before {
			color: white;
			font-size: 8px;
		}
	}

}
