/**project wrappers**/

.cod_project-wrapper {
	background-color: #0e0e0f;
	transition: background-color 0.3s ease;
	margin-bottom: 20px;
	cursor: pointer;

	&.active {

		&.theming {

			background-color: $theming;

			span.theming {
				background-color: white;
			}

		}

		&.exhibitions {
			background-color: $exhibitions;

			span.exhibitions {
				background-color: white;
			}
		}

		&.public_art {
			background-color: $public_art;

			span.public_art {
				background-color: white;
			}

		}

		&.media {
			background-color: $media;

			span.media {
				background-color: white;
			}

		}

		&.promotional {
			background-color: $promotional;

			span.promotional {
				background-color: white;
			}

		}

		&.retail {
			background-color: $retail;

			span.retail {
				background-color: white;
			}

		}
	}

	img {
		width: 100%;
	}

	.cod_project-text {
		padding: 7%;

		h5 {
			color: white;
		}

		p {
			color: white;
			font-weight: 100;
			line-height: 22px;
			font-size: 15px;
			margin-top: 15px;
		}

		@include sectionColors();

	}
}

/**end project wrappers**/
