/**cod main styles**/

@import "cod_base";
@import "cod_navigation";
@import "cod_project-panels.scss";
@import "cod_carousel.scss";


#projects, #news {
	h1 {
		font-weight: 100;
		line-height: 5.5rem;
		font-size: 6rem;
		letter-spacing: 4px;
	}
}



/***********************/
/***responsive styles***/
/***********************/

@media (max-width: 640px) { body {font-size:1.2rem;} } @media (min-width: 640px) { body {font-size:1rem;} } @media (min-width:960px) { body {font-size:1.2rem;} } @media (min-width:1100px) { body {font-size:1.5rem;} }

// Small screens

@media only screen and (max-width: 40em) {

	body {font-size:1.2rem;}

	nav {
		margin-top: 0px;
	}


	nav.top-bar .name h1 a {
		position: absolute;
		bottom: -140px;
		width: 85px;
		padding: 0px;
	}

	nav ul li.menu-icon {
		margin-top: 185px;
	}

	nav.top-bar {

		height: 100px;

		.title-area {
			width: 100%;
			height: 100px;;
		}
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) {} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (max-width: 64.063em) {

	body{font-size:1rem;}

} /* min-width 1025px, large screens */

// Large screens
@media only screen and (min-width: 64.063em) {

	body {font-size:1.5rem;}

} /* min-width 1025px, large screens */
