/**cod base layer**/
/**used for colour/type declarations**/

html { font-size:100%; }

body {
	font-family: "nimbus-sans",sans-serif;
	font-style: normal;
	font-weight: 400;
	background-color: black;
}

h1, h2, h3, h4, h5, h6, p, a, li, span {
	color: white;
}

//portfolio colours

$theming		: #da157a;
$promotional	: #f4b456;
$retail			: #00a5d5;
$exhibitions	: #e3603b;
$public_art		: #3aa355;
$media 			: #be2430;

//end portfolio colours


// mixins

@mixin sectionColors() {

	span {

		display: block;
		height: 4px;
		width: 30px;
		transition: background-color 0.3s ease;

		&.theming {
			background-color: $theming;
		}

		&.exhibitions {
			background-color: $exhibitions;
		}

		&.public_art {
			background-color: $public_art;
		}

		&.media {
			background-color: $media;
		}

		&.promotional {
			background-color: $promotional;
		}

		&.retail {
			background-color: $retail;
		}

	}

}

//end mixins
