/**nav**/
nav {
	&.top-bar {
		background-color: black;

		.name {
			h1 {
				a {
					padding: 20px;
					width: 200px;
				}
			}
		}

		.title-area {
			width: 13%;
			margin-top: -150px;
		}
	}

	margin-top: 150px;
	background-color: black;

	.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li:hover:not(.has-form) > a, .top-bar-section li:not(.has-form) a:not(.button):hover {
		background-color: black;
	}

	li {
		@include sectionColors();

		span {
			margin-bottom: 10px;
			margin-left: 25px;
			width: 0px;
		}

	}


	.top-bar-section li.active:not(.has-form) a:not(.button) {
		background-color: black;
		font-size: 1.1rem;
		line-height:1.7rem;
		font-weight: 600;
		padding: 0px 25px;

		&:hover {
			background-color: black;
		}

	}



	.top-bar-section {
		ul {
			background-color: black;
			margin-top: -20px;

			&.dropdown {
				padding-top: 20px;
				margin-top: 0px;
				cursor: pointer;

				li {
					&:last-child {
						padding-bottom: 10px;
					}
				}
			}

			li {
				background-color: black;

				&.menu-icon  {
					margin-top: 10px;
				}

				a {
					font-size: 1.2rem;
					background-color: black;
					letter-spacing: 0.5px;
					padding: 0px 1.3rem;
					font-weight: 600;
				}
			}
		}

	}

	ul {
		list-style: none;

		li {
			float: left;

			&.menu-icon  {
				margin-top: 50px;
			}

			a {
				font-size: 1rem;
				font-weight: bold;
			}
		}
	}

}
/**end nav**/
